.navbar {
    list-style-type: none;
    margin-top: 2%;
    display: inline;
    overflow: auto;
}

.navList {
    float: right;
    padding: 0 2% 1% 2%;

}

.logo {
    float: left;
    margin-left: 2%;
}

ul a {
    text-decoration: none;
    color: black;
}

.imgHolder {
    position: relative;
    margin: 0 2% 0 2%;
}

.text {
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    font-size: 2vw;
    line-height: 50px;
}

.imgButton {
    padding: 2%;
    border-radius: 0%;
    opacity: 0.7;
}

.gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-gap: 10px;
    margin-top: 3%;
}

.imgPlace {
    object-fit: cover;
}

h4 {
    margin-top: 5%;
}

img {
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}

.formContainer {
    background-color: rgb(226, 226, 226);
    margin: 5% 2% 0 2%;
    padding: 15px;
}

form>input {
    padding-left: 5px;
    height: 35px;
    width: 97%;
}

input[type=submit] {
    padding: 15px;
    background: black;
    color: white;
    border: 0 none;
    cursor: pointer;
}

footer {
    background-color: black;
    margin: 0 2% 2% 2%;
    padding: 15px;
    text-align: center;
    color: white;
}

footer button {
    margin-top: 20px;
    ;
    height: 30px;
    border-radius: 0%;
    background-color: white;
    /* text-decoration: none; */
}

footer p a {
    color: white;
}

.elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.items {
    width: 23%;
    min-width: 200px;
    text-align: center;
    height: max-content;
}

.icon {
    object-fit: contain;
    height: 18%;
    width: 50%;
}

.alignment {
    margin: 5% 2% 0 2%;
}

.backgroundGrey {
    background-color: rgb(224, 224, 224);

}

.backgroundDark {
    background-color: rgb(133, 130, 130);
    color: white;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    padding: 2% 0 2% 0;
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-gap: 2%;
    text-align: center;

}

.holder {
    padding: 8% 2% 8% 2%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 3%;
}

.holder button {
    padding: 15px;
    background: black;
    border: 0 none;
    cursor: pointer;
}

.holder button a {
    color: white;
    text-decoration: none;
}

.higherFont {
    font-size: 150%;
    text-align: center;
}

.nodecor a {
    text-decoration: none;
}