.navbar{
    display: flex;
}
.navTitle{
 justify-content:flex-end;
}
.imgHolder{
    position: relative;
    
}
.text{
    position:absolute;
    top:
    left:
}
.imgButton{
    padding: 15px;
}
.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap:15px;
    margin-top: 3%;
}

h4{
    margin-top: 5%;
}
/* .grid-item{
    border: 1px solid black; 
    object-fit: cover; 
} */

img{
    width: 100%;
    height: 100%;
}
.center{
    text-align: center;
}
.form-container{
 background-color: rgb(226, 226, 226);
 margin: 5% 2% 0 2%;
 padding: 15px;
}
form > input{
    padding-left: 5px;
    height: 35px;
    width: 97%;
}
input[type=submit] {
    padding: 15px;
    background :black;
    color: white;
    border: 0 none;
    cursor: pointer;
}

div footer{
    background-color: black;
    margin: 0 2% 2% 2%;
    padding: 15px;
    text-align: center;
    color: white;
}
footer button{
    margin-top: 20px;;
    height: 30px;
    border-radius: 0%;
    background-color: white;
    /* text-decoration: none; */
}
footer p a{
    
    color: white;
}
.elements {
    display:grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 10px;
}
.items{
    text-align: center;
}
.alignment{
    margin: 5% 2% 0 2%;
}
.background-grey{
    background-color: rgb(224, 224, 224);
    
}
.background-black{
    background-color: rgb(133, 130, 130);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 0 2% 0;
}
.holder{
    padding: 8% 2% 8% 2%;
    display:grid;
    grid-template-columns: 48% 48%;
    grid-gap: 3%;
}
.holder button{
    padding: 15px;
    background :black;
    border: 0 none;
    cursor: pointer;
}
.holder button a{
    color: white;
    text-decoration: none;
}
.higher-font{
    font-size:150%;
    text-align: center;
}
.nodecor a{
    text-decoration:none ;
}